:root{
  --back-color: #FFCD40;
  --container-back: #E1E1E1;
  --title-color: #1E1E1E;
  --button-color: #2D9CDB;
  --button-color-hover:#1e7ab0;
  --button-disabled: #678291 ;
}



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  
}

html, body, #root{
  background-color: var(--back-color);
  /* height: 100%; */
}


.container{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}



.containerBox{
  /* min-height: 367px; */
  margin: 60px 0;
  flex-shrink: 0;
  border-radius: 20px;
  background: var(--container-back);
  text-align: center;
  padding: 20px 40px;
}

.container .title-container{
  margin-bottom: 30px;
}

.dados_pessoais{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;

}

.form_control{
  margin: 4px 20px 10px 20px;
  width: 200px;
  
}

.inputFields{
  background-color: black;
}

.helpersText{
  text-align: left;
}

.dados_endereco{
  display: flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content:flex-start;
  
}

.steps{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;

}

.steps img{
  width: 100px;
  height: 90px;
}

